@import "tailwindcss";

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik_Regular.5f606a3d.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik_Bold.f8a92595.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rokh';
  src: url('/fonts/Rokh-Regular.2c36b6e6.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Aeonik, Rokh, sans-serif;
  font-size: 0.95rem;
}

/* Make all clickable elements have a pointer cursor */
a, button, [role="button"], input[type="submit"], input[type="button"], input[type="reset"], select, summary {
  cursor: pointer;
}

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 8px; /* Vertical scrollbar */
  height: 12px; /* Horizontal scrollbar */
}

/* Scrollbar Track Background */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 4px;
}

/* Scrollbar Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #000;
 }

/* On hover */
::-webkit-scrollbar-thumb:hover {
   cursor: pointer;
}

/* Corner (where horizontal and vertical scrollbars meet) */
::-webkit-scrollbar-corner {
 }
